@model UniversityManagementSystemApp.Models.Admin
@{
    ViewBag.Title = "HomePageForAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    
</style>
<h2>Home Page For Admin</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
</div>

