<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@{
    ViewBag.Title = "CourseStatistics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="customStyle" style="margin-top: 60px;">
    <h4 style="font-family: consolas; float: left; margin-left: 265px; margin-top: 5px; font-weight: bold; ">Course Statistics</h4>
    <select id="departmentId" name="departmentId" class="form-control" style="margin-left: 500px; font-weight: bold; border: 3px solid;"></select>
    <br/>

    <div id="updatePanel"></div>

    @*<div style="margin-top: 60px">
        <h4 style="font-family: consolas">Student Information Table</h4>
        <table class="table table-bordered table-striped table-hover">*@
    <script>
        $(document).ready(function() {
            var departmentId = $("#departmentId");
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetAllDepartments", "CourseAssignTo")",
                contentType: "application/json; charset=utf-8",
                data: "",
                dataType: "json",
                success: function(data) {
                    departmentId.append("<option value=0>Select Department</option>");
                    $.each(data, function(index, val) {
                        departmentId.append('<option value=' + val.Id + '>' + val.DeptName + '</option>');
                    });
                }
            });

            function loadData(data) {
                var tab = $("<table></table>");
                var thead = $("<thead></thead>");
                thead.append('<th>Code</th>');
                thead.append('<th>Name/Title</th>');
                thead.append('<th>Semester</th>');
                thead.append('<th>Assign To</th>');
                thead.addClass("table-active");
                tab.append(thead);

                $.each(data, function(index, value) {
                    var trow = $('<tr></tr>');
                    trow.append('<td>' + value.CourseCode + '</td>');
                    trow.append('<td>' + value.CourseName + '</td>');
                    trow.append('<td>' + value.Semester.SemesterName + '</td>');

                    var assignedTo = value.CourseAssignTo;
                    if (assignedTo == null || assignedTo == "") {
                        assignedTo = "Not Yet Assigned.";
                        trow.append('<td>' + assignedTo + '</td>');
                    } else {
                        trow.append('<td>' + value.CourseAssignTo + '</td>');
                    }

                    tab.append(trow);
                });
                tab.addClass("table table-bordered table-striped table-hover");
                $('#updatePanel').html(tab);
            }

            departmentId.change(function() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CourseStatisticsByDepartmentId", "CourseAssignTo")",
                    data: { departmentId: $(this).val() },
                    dataType: "json",
                    success: function(data) {
                        loadData(data);
                    },
                    error: function() {
                        alert("There Is an Error !");
                    }
                });
            });
        });
    </script>
</div>


