@using UniversityManagementSystemApp.Models
@model IEnumerable<UniversityManagementSystemApp.Models.Department>
<link href="~/Content/CustomStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-top: 60px">
    <h4 style="font-family: consolas">Department Information Table</h4>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptName)
                </td>
            </tr>
        }

    </table>
</div>
<button id="renderANewPage">Render A New Page</button>
<div id="divResult"></div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("#renderANewPage").click(function() {
            $("#divResult").load("../Department/MyPartialViewResult");
        });
    });
</script>
